.header {
    height: 200px;
    background-image: url('./images/memory-testing-post.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

.nav {
    margin-bottom: 10px; /* Adjust the margin as needed */
}

.nav-link {
    color: white; /* Ensure the links are visible */
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #d4d4d4; /* Optional: a hover effect */
}
